<ion-view title="checkList" ng-controller="checkListCtrl as vm" ng-style="clearHistory()">
	<div class="bar bar-header h-contato">
		<h1 class="title">Check List</h1>
		<i class="status icon ion-social-rss" ng-style="status"></i>
		<i class="verific icon ion-android-person" ng-style="verific"></i>
	    <label class="item-icon-left"  ui-sref="presenca">
	    	<i class="icon ion-android-arrow-back"></i>
	    </label>
	</div>

	<ion-panel class="background-checkList">
		<div class="sending" ng-if="send">
			<p>
				<ion-spinner icon="spiral" class="iconSending"></ion-spinner>
				<br/>Enviando...
			</p>
		</div>

		<div class="question">
			<p class="question-title">
		        {{ vm.question.title }}
		    </p>
		    <p class="question-subtitle">
		        {{ vm.question.subtitle }}
		    </p>
		    <div class="question-body">
				<div class="list" ng-if="vm.question.type == 'radio'">
		          <ion-radio ng-model="vm.answer.choice" ng-repeat='option in vm.question.options track by $index' ng-value='option' ng-class="{'green': option === 'Sim' && vm.answer.choice == 'Sim', 'red': option === 'Não' && vm.answer.choice == 'Não'}" >
		            <b>{{ option }}</b>
		          </ion-radio>
		        </div>
		        <div class="list" ng-if="vm.question.type == 'text'" >
		          <label class="item item-input">
		            <input type="text" ng-model="vm.questao6Text || vm.questao11Text">
		          </label>
		        </div>
		        
		        <div class="list" ng-if="vm.question.type == 'number'">
		          <label class="item item-input">
		            <input type="number" maxlength="2" max="10" ng-model="vm.answer.choice">
		          </label>
		        </div>
		        <div class="list" ng-if="vm.question.type == 'select'">
		          <label class="item item-input item-select">
		            <div class="input-label">Escolha uma opção</div>
		            <select ng-model="vm.answer.choice" ng-options="option for option in vm.question.options">
		              <option ng-value="option">
		                {{ option }}
		              </option>
		            </select>
		          </label>
		        </div>
		        <div class="list" ng-if="vm.question.obs  && vm.answer.choice == 'Sim'">
					<p> {{ vm.question.obs }} </p>
					<label class="item item-input">
						<input type="text" ng-model="vm.answer.obs">
					</label>
		        </div>
				<div class="list" ng-if="vm.question.obs2  && vm.answer.choice == 'Não'">
					<p> {{ vm.question.obs2 }} </p>
					<label class="item item-input">
						<input type="text" ng-model="vm.answer.obs2">
					</label>
		        </div>
		    </div>

	      <div class="question-footer">
		        <div class="button-bar">
		          <button class="button button-positive" ng-disabled="!vm.count" on-tap="vm.previous()">Anterior</button>
		          <button class="button button-positive" ng-disabled="!vm.answer" on-tap='vm.next(vm.question)'
		              ng-if="vm.count !== vm.size">
		            Próximo
		          </button>
		          <button class="button button-balanced" ng-disabled="!vm.answer" on-tap='vm.endQuestions(vm.question)'
		              ng-if="vm.count === vm.size">
		            Enviar
		          </button>
		        </div>
		    </div>
	    </div>
	</ion-panel>
</ion-view>    