<ion-view title="checkInOut" ng-controller="presencaCtrl" >
	<div class="bar bar-header h-contato">
		<h1 class="title">Presença</h1>
		<i class="status icon ion-social-rss" ng-style="status"></i>
		<i class="verific icon ion-android-person" ng-style="verific"></i>
    	<label class="item-icon-left"  ui-sref="presenca">
	     	<i class="icon ion-android-arrow-back"></i>
	    </label>
	</div>

	<ion-content class="background-default">
		<div class="list-contato">
			<h1 class="item item-divider">
			    Horários
			</h1>
			<div class="item item-divider item-body">
			    Entrada
			</div>
			<label class="item item-body">
				Loja: {{ pontocol }} <br/> {{ currentTimeIn | dateTime }} <br/> {{ statusModeIn }}
			</label>
			<div class="item item-divider item-body ">
			    Saída
			</div>
			<label class="item item-body">
				Loja: {{ pontocol2 }} <br/> {{ currentTimeOut | dateTime }} <br/> {{ statusModeOut }}
			</label>
		</div>

		<div class="buttonReport">
			<button class="button button-wine" ng-click="report()">
				Meus Registros
			</button>
		</div>

		<div class="loading" ng-if="load">
            <p>
                <ion-spinner icon="spiral" class="iconLoading"></ion-spinner>
                <br/>Carregando...
            </p>
        </div>

		<div ng-repeat="report in result track by $index" ng-if="result.length">
			<div class="list-contato report">
				<h1 class="item item-divider">
			    	Loja: {{ report.loja }} 
				</h1>

				<div class="item item-body">
					Entrada: {{ report.checkin | dateTime }} <br/> Saída: {{ report.checkout | dateTime }}	
				</div>
			</div>
			<br/>
		</div>

		<div class="list-contato report">
			<div class="item item-body" ng-if="fail">
				{{ noReports }}
			</div>
		</div>
		
	</ion-content>
</ion-view>