<ion-view title="contato" ng-controller="sobreCtrl">
     
  <div class="bar bar-header h-contato">
    <h1 class="title">Suporte</h1>
    <i class="status icon ion-social-rss" ng-style="status"></i>
    <i class="verific icon ion-android-person" ng-if=" next == 'presenca'" ng-style="verific"></i>
    <label class="item-icon-left" on-tap="redirectBack()">
      <i class="icon ion-android-arrow-back"></i>
    </label>
  </div>

  <ion-content class="background-default">
  		<div class="list-contato-suporte">
			<div class="item item-divider item-body ion-ios-telephone">
				Horário de atendimento do RH
			</div>
			<label class="item item-body"> 
				08:00h às 17:30h
				<br/>
				Segunda-Feira à Sexta-Feira
				<br/><br/>
				Tel: (11) 3604-3440
			</label>
		</div>

		<div class="list-contato-suporte">
			<div class="item item-divider item-body ion-social-whatsapp">
				Horário de atendimento do Aplicativo
			</div>
			<label class="item item-body"> 
				08:00h às 14:00h
				<br/>
				Segunda-Feira à Sexta-Feira
				<br/><br/>
				Responsável: Adeilton Meneses
				<br/>
				Cel: (11) 97971-8423
			</label>
		</div>

		<div class="list-contato-suporte">
			<div class="item item-divider item-body">
				Como utilizar os botões abaixo?
			</div>
			<label class="item item-body">
				Utilize o botão botão "Entrada/ Saída Offline" para verificar suas batidas em Modo Offline e o botão "Registros Offline" para verificar seu Login e CheckList Offline.
				Para maiores informações confira a explicação detalhada em Perguntas Frequentes.
			</label>
		</div>

		<div class="list-contato-suporte" ng-show="latitude">
			<label class="item item-body">
				Latitude: {{ latitude }}
				<br/>
				Longitude: {{ longitude }}
			</label>
		</div>

		<div class="dados">
			<button class="button button-wine" ng-click="dadosSQLite()">
				Entrada/ Saída Offline
			</button>
		</div>

		<div class="dados">
			<button class="button button-wine" ng-click="dados()" on-hold="checkDebug()">
				Registros Offline
			</button>
		</div>

		<div class="dados">
			<!--<button class="button button-wine" ng-click="reset()">
				Apagar Registros
			</button>-->
			<button class="button button-dark" ng-click="debug()" ng-if="debugging == 1" on-hold="deleteDebug()">
				Debug
			</button>
		</div>
		
        <center><label class="versao">Versão: {{ versao }}</label></center>
  </ion-content>
</ion-view>