<ion-view title="images" ng-controller="imagesCtrl" >
	<div class="bar bar-header h-contato">
		<h1 class="title">Tirar Fotos</h1>
		<i class="status icon ion-social-rss" ng-style="status"></i>
		<i class="verific icon ion-android-person" ng-style="verific"></i>	
		<label class="item-icon-left"  ui-sref="presenca">
      		<i class="icon ion-android-arrow-back"></i>
    	</label>
	</div>

	<ion-content>
        <div class="background-images">
            <div class="sending" ng-if="send">
				<p>
					<ion-spinner icon="spiral" class="iconSending"></ion-spinner>
					<br/>Enviando...
				</p>
			</div>
            
            <div class="list-card row">
                <div class="item item-image col col-center" ng-if="!pictureURL">
                    <img src="http://placehold.it/400x400">
                </div>
                <div class="item item-image col col-center" ng-if="pictureURL" style=" background-image: url({{ pictureURL }});">
                    <!--<img ng-src="{{pictureURL}}">-->
                </div>
            </div>

            <div>
                <label>Você pode tirar/ selecionar até duas fotos por loja! <br/>Para remover uma foto segure-a por alguns instantes.</label>
            </div>

            <div class="imagesButton">
                <button ng-click="capturePhoto()" class="button button-wine" ng-disabled="pictures.length == 2"> Capturar </button>
                <button ng-click="selectPhoto()" class="button button-wine" ng-disabled="pictures.length == 2"> Galeria </button>
            </div>

            <div class="sendButton">
                <button ng-click="onCapturePhoto()" class="button button-wine" ng-disabled="pictures.length == 0"> Enviar </button>
            <!--</div>

            <div class="sendButton">-->
                <button ng-click="removePicture()" class="button button-assertive" ng-if="checkeds.length"> Apagar </button>
            </div>

            <div class="list-card row">
                <div class="item item-list-image col col-33 col-center"
                     ng-repeat="image in pictures track by $index"
                     style="background-image: url({{ image.name }});"
                     ng-class="{ 'checked': image.checked }"
                     on-hold="selectPictureToRemove($index, image.checked)" >
                </div>
            </div>        
        </div>
	</ion-content>
</ion-view>