 <ion-view title="login" ng-controller="loginCtrl" >
     
  <div class="bar bar-header h-login bar-light">
    <h1 class="title"></h1>
    <i class="gpsLogin icon ion-location" ng-style="gpsColor"></i>
    <i class="status icon ion-social-rss" ng-style="status"></i>
  </div>

  <ion-pane class="background-default-login">
      <div class="logo" ng-style="verific">
      </div>

      <div class="faq">
          <a class="icon icon ion-help-circled" href="#/fac/login"></a>
      </div>
      
      <div class="loading" ng-if="load">
        <p>
          <ion-spinner icon="spiral" class="iconLoading"></ion-spinner>
          <br/>Conectando...
        </p>
      </div>

	    <div class="main-background">
        <div class="list list-inset">
  	     	<label class="item item-input-user item-stacked-label">
  	       	<span class="input-label">Nome de Usuário</span>
             <form autocomplete="on" >
                <input type="text" name="usuario" placeholder="Digite seu nome" ng-model="username" required>
              </form>
           </label>
       		<label class="item item-input item-stacked-label">
         		<span class="input-label">Senha</span>
         		<input type="password" placeholder="Digite sua senha" ng-model="password" required>
       		</label>

          <button class="button button-login button-block"  ng-click="sendLogin(username, password)" ng-disabled="!username || !password">
            Entrar <br/>
          </button>
          <a class="button button-problem button-block" href="#/contato/login">
              Suporte
          </a>
        </div>
     </div>
  </ion-pane>
</ion-view>