<ion-view title="presenca" ng-controller="presencaCtrl" >
	<ion-side-menus class="menu-presenca">
		<ion-side-menu side="left">
			<ion-header-bar class="bar-presenca">
				<h1 class="title">RHCOP APP</h1>
			</ion-header-bar>
			<ion-content>
				<ion-list>   <!-- item item-avatar-->
					<label class="item ">
				      <!--<img src="img/logo.png">-->
				      <h2>Usuário: {{ username }}</h2> 
				      <h2>Cargo: {{ cargo }}</h2> 
					  <!--<h2>Status: {{ statusFunc }}</h2> -->
					  <!--<h2>CheckList: {{ idChecklist }}</h2> -->
				      <p/>
				      <h2>Bem vindo!</h2>
				    </label>
				    <label class="item ">
						<p ng-style="mode()">Status: {{ disp }}/ GPS: {{ gps }}</p>
				    </label>
				</ion-list>

				<ion-list>
					<a class="item" href="#/checkInOut">Presença</a> <!-- href="#/checkList" -->
					<a class="item" ng-click="avisoList()" ng-style="verificList" ng-show="checkOutOk === 1">
						Check List
						<i class="verificList icon ion-ios-checkmark"> </i>
					</a>
					<!--<a class="item" href="#/checkList">
						Check List
						<i class="verificList icon ion-ios-checkmark"> </i>
					</a>-->
					<a class="item" href="#/solicitacoes" ng-show="solicitacaoOk">Solicitar</a>
					<a class="item" ng-show="imagens && check === 1" ng-click="image()">Tirar fotos</a>
					<a class="item" href="#/routes">Rotas</a>
					<a class="item" ng-click="off()">Avisos
						<span class="badge badge-assertive" ng-if="avisos()">  {{ avisos() }} </span>
					</a>
					<a class="item" href="#/atestado">Atestado</a>
					<a class="item" ng-click="holerite('http://doiscunhados.dyndns.org:8080/GrhNet/')">Consultar Holerite</a>
					<a class="item" ng-show="desbloqueio" ng-click="desbloquear()">Desbloqueio</a>
					<a class="item" href="#/fac/presenca">Perguntas Frequentes</a>
					<a class="item" href="#/contato/presenca">Suporte</a>
					<a class="item" href="#/sobre">Sobre</a>
					<!--<a class="item" href="#/versao">Versao</a>-->
					<!--<a class="item" href="#/file">File</a>-->
					<!--<a class="item" ng-click="off()" href="#/marketing">Avisos-->
				</ion-list>

				<ion-list>
					<a class="item" href="" on-tap="exit()">Sair</a>
				</ion-list>	
			</ion-content>
		</ion-side-menu>

		<ion-side-menu-content>
			<ion-header-bar class="bar-presenca">
				<div class="buttons">
				  	<button class="button icon button-clear ion-navicon-round" ng-click="toggleLeft()"></button>
				</div>
				<h1 class="title">Presença</h1>
				<i class="gps icon ion-location" ng-style="gpsColor"></i>
				<i class="status icon ion-social-rss" ng-style="status"></i>
				<i class="verific icon ion-android-person" ng-style="verific"></i>
			</ion-header-bar>

			<ion-content class="background-default-presenca">				
				<div class="sending" ng-if="send">
					<p>
						<ion-spinner icon="spiral" class="iconSending"></ion-spinner>
						<br/>Enviando...
					</p>
				</div>
				
				<div class="buttonsInOut">
					<div class="entrada">
						<button class="button button-block button-balanced" ng-click="checkin()">
							Entrada
						</button>
						<!-- <p ng-style="checkCoordsIn">Latitude: {{lat}} <br/> Longitude: {{ longt }} </p> -->
					</div>
					<!--<label>Pressione o botão Entrada para efetuar o escaneamento do QRCode ao chegar na loja e na volta do almoço.</label>-->

					<div class="saida">
						<button class="button button-block button-assertive" ng-click="checkout()">
							Saída
						</button>
						<!-- <p ng-style="checkCoordsOut">Latitude: {{lat2}} <br/> Longitude: {{ longt2 }} </p> -->
					</div>
					<!--<label>Pressione o botão Saída para efetuar o escaneamento do QRCode ao sair para o almoço e ao terminar o expdiente na loja.</label>-->

					<!--<button class="button button-block button-assertive" ng-click="copy()">
						Copy
					</button>-->
				</div>

				<div class="loading" ng-if="load">
					<p>
						<ion-spinner icon="spiral" class="iconLoading"></ion-spinner>
						<br/>Carregando...
					</p>
				</div>

				<div class="buttonReport">
					<button class="button button-wine" ng-click="report()">
						Meus Registros
					</button>
				</div>

				<div ng-repeat="report in result track by $index" ng-if="result.length">
					<div class="list-contato report">
						<h1 class="item item-divider">
							Loja: {{ report.loja }} 
						</h1>

						<div class="item item-body">
							Entrada: {{ report.checkin | dateTime }} <br/> Saída: {{ report.checkout | dateTime }}	
						</div>
					</div>
					<br/>
				</div>

				<div class="list-contato report">
					<div class="item item-body" ng-if="fail">
						{{ noReports }}
					</div>
				</div>
				
			</ion-content>
		</ion-side-menu-content>
	</ion-side-menus>
</ion-view>     