<ion-view title="routes" ng-controller="routesCtrl as vm">
    <div class="bar bar-header h-contato">
        <h1 class="title">Rotas</h1>
        <i class="status icon ion-social-rss" ng-style="status"></i>
        <i class="verific icon ion-android-person" ng-style="verific"></i>
        <label class="item-icon-left" ui-sref="presenca">
            <i class="icon ion-android-arrow-back"></i>
        </label>
    </div>

    <ion-content class="background-routes">
        <div class="loading" ng-if="load">
            <p>
                <ion-spinner icon="spiral" class="iconLoading"></ion-spinner>
                <br/>Carregando...
            </p>
        </div>

        <div class="list-contato">
            <div class="card">
                <div>
                    <i class="previous button icon-left ion-chevron-left button-clear button-dark" on-tap="vm.previous()" ng-show="vm.count > 0"></i>
                    <i class="next button icon-right ion-chevron-right button-clear button-dark" on-tap="vm.next()" ng-show="vm.count < 6"></i>
                    <div class="item item-divider">
                        {{ vm.title }}
                    </div>
                <div>
                <div class="item item-divider">
                    Essa é sua rota!
                    <!--{{ vm.day }}-->
                </div>
                <div class="item item-text-wrap" ng-repeat="route in vm.todayRoutes track by $index">
                   {{ route.nome }}
                </div>
                <div class="item item-text-wrap" ng-if="!vm.todayRoutes || vm.todayRoutes === []">
                   Nenhuma rota disponível para esse dia!
                </div>
            </div>
	    </div>
    </ion-content>
</ion-view>