<ion-view title="termos" ng-controller="termoCtrl">
     
  <div class="bar bar-header h-contato">
    <h1 class="title">RHCOP</h1>
    <i class="status icon ion-social-rss" ng-style="status"></i>
    <label class="item-icon-left"  ui-sref="login">
        <i class="icon ion-android-arrow-back"></i>
    </label>
  </div>

  <ion-content class="background-default">
    <div class="sending" ng-if="send">
        <p>
            <ion-spinner icon="spiral" class="iconSending"></ion-spinner>
            <br/>Enviando...
        </p>
    </div>
    
    <div class="list-contato">
        <h1 class="item item-divider">
            TERMO DE COMPROMISSO
            <br/>E AUTORIZAÇÃO DE USO 
        </h1>
        <label class="item item-body">
        Declaro para os devidos fins de direito e a quem possa interessar que neste ato me prontifiquei a instalar em meu aparelho celular um aplicativo gratuito para cartão de ponto geolocalizado desenvolvido pela empresa LEDi.
        <br/><br/>
 		Declaro, ainda, ter total ciência que pela instalação do referido aplicativo não haverá desconto em folha de pagamento em face da sua utilização, tampouco as empresas do Grupo Dois Cunhados, deverá me pagar quaisquer valores, uma vez que é de minha total ciência que a instalação do referido aplicativo se dá de forma gratuita.
        <br/><br/>
 		Declaro, ainda, que a senha a ser utilizada para acesso ao referido aplicativo é pessoal, irrevogável, sigilosa e intransferível, sendo que sou o único responsável pelo seu uso e guarda, tendo ciência que a revelação desta para terceiros é proibida, sendo vedada a anotação de horário por terceiros, sob pena de sofrer todas as sanções cabíveis, inclusive a rescisão do meu contrato de trabalho com a empregadora por justo motivo.
        <br/><br/>
 		Neste ato me comprometo apontar eletronicamente TODOS os horários de trabalho, como entrada (inicio das atividades no trabalho), início e fim dos intervalos para refeição e descanso e saída no final do expediente, estando ciente que falta de anotação regular e diária dos horários de trabalho implicará no desconto em folha de pagamento do dia ou hora não anotado, bem como que referida situação estará sujeita a penalidades formais pela empregadora, tais como eventual diminuição nas férias e dsr.
        <br/><br/>
 		Por derradeiro, declaro que tenho interesse na instalação e uso do referido aplicativo, nos termos e condições acima indicados.
        </label>
	</div>
    
    <div class="dados">
        <p>* Você precisa ler e estar de acordo com os termos para utilizar o aplicativo.<p/>
        <button class="button button-wine" ng-click="confirmacao()">
            Aceito os termos 
        </button>
    </div>
  </ion-content>
</ion-view>