<ion-view title="uniformes" ng-controller="uniformesCtrl" >
	<div class="bar bar-header h-contato">
		<h1 class="title">Solicitar Uniformes</h1>
		<i class="status icon ion-social-rss" ng-style="status"></i>
		<i class="verific icon ion-android-person" ng-style="verific"></i>	
		<label class="item-icon-left"  ui-sref="solicitacoes">
      		<i class="icon ion-android-arrow-back"></i>
    	</label>
	</div>

	<ion-content class="background-default-materiais">
		<div class="sending" ng-if="send">
			<p>
				<ion-spinner icon="spiral" class="iconSending"></ion-spinner>
				<br/>Enviando...
			</p>
		</div>

		<div class="item item-divider item-body">
			Solicite os uniformes para seus funcionários!
		</div>

		<div class="body">
            <p><label>Digite o nome da Loja: </label></p>
            <label class="item item-input">
                <input type="text" placeholder="Nome da loja, ex.: LEDi A" ng-model="loja" required/>
            </label>
		</div>
        
        <div class="body">
            <p><label>Digite o nome do Funcionário: </label></p>
            <label class="item item-input">
                <input type="text" placeholder="ex.: Adeilton Meneses" ng-model="uniformeFunc" required/>
            </label>
        </div>

        <div class="body">
            <p><label>Quais materiais deseja solicitar? </label></p>
        </div>
        <ul class="list">
            <li class="item item-checkbox">
                Camiseta
                <label class="checkbox">
                <input type="checkbox" ng-model="uniformes.camiseta.hasCamiseta">
                </label>
            </li>

            <div class="camiseta" ng-show="uniformes.camiseta.hasCamiseta">
                <div class="list">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Tamanho:
                        </div>
                        <select ng-model="uniformes.camiseta.tamanho">
                            <option value="P">P</option>
                            <option value="M">M</option>
                            <option value="G">G</option>
                            <option value="GG">GG</option>
                        </select>
                    </label>

                    <label class="item item-input item-select">
                        <div class="input-label">
                            Quantidade:
                        </div>
                        <select ng-model="uniformes.camiseta.qtd">
                            <option ng-repeat="qtd in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] track by $index" value="{{ qtd }}"> {{ qtd }} </option>
                        </select>
                    </label>
                </div>
            </div>
        </ul>

        <ul class="list">
            <li class="item item-checkbox">
                Moletom
                <label class="checkbox">
                <input type="checkbox" ng-model="uniformes.moletom.hasMoletom">
                </label>
            </li>

            <div class="moletom" ng-show="uniformes.moletom.hasMoletom">
                <div class="list">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Tamanho:
                        </div>
                        <select ng-model="uniformes.moletom.tamanho">
                            <option value="P">P</option>
                            <option value="M">M</option>
                            <option value="G">G</option>
                            <option value="GG">GG</option>
                        </select>
                    </label>

                    <label class="item item-input item-select">
                        <div class="input-label">
                            Quantidade:
                        </div>
                        <select ng-model="uniformes.moletom.qtd">
                            <option ng-repeat="qtd in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] track by $index" value="{{ qtd }}"> {{ qtd }} </option>
                        </select>
                    </label>
                </div>
            </div>
        </ul>

        <ul class="list">
            <li class="item item-checkbox">
                Bota
                <label class="checkbox">
                <input type="checkbox" ng-model="uniformes.bota.hasBota">
                </label>
            </li>

            <div class="bota" ng-show="uniformes.bota.hasBota">
                <label class="item item-input">
                    <div class="input-label">
                        Tamanho: 
                    </div>
                    <input type="number" placeholder="Tamanho: ex. 38" ng-model="uniformes.bota.tamanho" value="38" required/>
                </label>
                <div class="list">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Quantidade:
                        </div>
                        <select ng-model="uniformes.bota.qtd">
                            <option ng-repeat="qtd in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] track by $index" value="{{ qtd }}"> {{ qtd }} </option>
                        </select>
                    </label>
                </div>
            </div>
        </ul>

        <ul class="list">
            <li class="item item-checkbox">
                Boné
                <label class="checkbox">
                <input type="checkbox" ng-model="uniformes.bone.hasBone">
                </label>
            </li>
            <div class="bota" ng-show="uniformes.bone.hasBone">
                <div class="list">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Quantidade:
                        </div>
                        <select ng-model="uniformes.bone.qtd">
                            <option ng-repeat="qtd in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] track by $index" value="{{ qtd }}"> {{ qtd }} </option>
                        </select>
                    </label>
                </div>
            </div>
        </ul>

        <ul class="list">
            <li class="item item-checkbox">
                Avental
                <label class="checkbox">
                <input type="checkbox" ng-model="uniformes.avental.hasAvental">
                </label>
            </li>
            <div class="bota" ng-show="uniformes.avental.hasAvental">
                <div class="list">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Quantidade:
                        </div>
                        <select ng-model="uniformes.avental.qtd">
                            <option ng-repeat="qtd in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] track by $index" value="{{ qtd }}"> {{ qtd }} </option>
                        </select>
                    </label>
                </div>
            </div>
        </ul>

        <div class="body">
            <p><label>Observação: </label></p>
            <label class="item item-input">
                <input type="text" placeholder="Tipo de envio, ex. Urgência, por caminhão" ng-model="observacao" required/>
            </label>
        </div>
    
        <div class="body">
            <button class="button button-full button-positive"
            ng-click="solicitar(loja, uniformeFunc, uniformes, observacao)"
            ng-disabled="!loja || !uniformeFunc">
				Solicitar
			</button>
		</div>
	</ion-content>
</ion-view>