/*Index Config*/
i.status{
	z-index: 100;
	position: absolute;
	right: 10px;
	font-size: 30px;
	top: 10px;
}

i.verific{
	z-index: 100;
	position: absolute;
	right: 50px;
	font-size: 30px;
	top: 10px;
}

i.gps{
	z-index: 100;
	position: absolute;
	right: 90px;
	font-size: 30px;
	top: 10px;
}

i.gpsLogin{
	z-index: 100;
	position: absolute;
	right: 50px;
	font-size: 30px;
	top: 10px;
}

/*buttons Config*/
.button.button-wine{
	background-color: #78141A;
	color: white;
}

/*login Config*/
.bar.bar-header.h-login{
	background-color: #78141A;
}

.background-default-login{
	background-size: 100% 100%;
	background-color: white;
}

.background-default-login .logo{
	background-image: url('../img/rhcop.png');
	background-size: 100% 100%;
	width: 85%;
	height: 12%;
	margin-left: 10%;
	margin-top: 25%;
}

a { color: inherit; } 

.background-default-login .faq{
	margin-top: 7%;
}

.background-default-login .faq .icon{
	z-index: 100;
	position: absolute;
	font-size: 30px;
	right: 30px;
	color: #A3BD31;
}

.background-default-login .loading{
	text-align: center;
	width:100%;
	height:100%;
	position: absolute;
	z-index: 100;
	font-size: 4vh;
	color: #78141A;
	background-color: white;
	opacity: 0.8;
}

.loading .iconLoading{
	stroke: #78141A;
}

.background-default-login .main-background .button.button-login{
	background-color: #A3BD31;
	color: white;
}

.background-default-login .main-background .button.button-problem{
	background-color: #78141A;
	color: white;
}

.background-default-login .main-background .button-footer{
	text-align: center;
}

.background-default-login .main-background .list.list-inset{
	margin-top: 15%;
	background-color: white;
	margin-left: 7%;
	margin-right: 7%;
	/* height: 55%;
	box-shadow: 0px 0px 0.5em;
	-webkit-box-shadow: 0px 0px 0.5em;
	-moz-box-shadow: 0px 0px 0.5em; 
	border-radius: 10px; */
}


.background-default-login .main-background .list.list-inset{
	/* margin-top: 15%;
	background-color: white;
	margin-left: 7%;
	margin-right: 7%; */
	height: 55%;
	box-shadow: 0px 0px 0.5em;
	-webkit-box-shadow: 0px 0px 0.5em;
	-moz-box-shadow: 0px 0px 0.5em; 
	border-radius: 10px;
}

.background-default-login .list{
	margin-top: 3%;
	padding: 3%;
	height: 100%;
}

.background-default-login .list .item-input-user{
	margin-top: 3%;
}

.background-default-login .list .input-label{
	font-size: 20px;
	color: #A15B5F;
}

.background-default-login .list input{
	font-size: 20px;
	text-align: center;
}

/*others*/
.background-default{
	margin-top: 5%;
	padding: 5%;
}

.background-default .buttonReport{
	margin-top: 5%;
	text-align: center;
}

.background-default .loading{
	text-align: center;
	width:100%;
	height:100%;
	position: absolute;
	z-index: 100;
	font-size: 3vh;
	color: #78141A;
	background-color: white;
	margin-top: 5%;
	opacity: 0.8;
	right: 0;
}

.background-default .list-contato.report{
	margin-top: 5%;
}

.background-default .list-contato.report{
	margin-top: 5%;
}

.background-default .list-contato.report .item.item-divider{
	color: white;
	background-color: #78141A;
}

.background-default .list-contato.report .item.item-body{
	color: #78141A;
}

/*Contato config*/
.bar.bar-header.h-contato{
	background-color: #78141A;
	color: white
}

.background-default .list-contato{
	margin-top: 5%;
}

.background-default .list-contato-suporte{
	margin-top: 5%;
}

.bar.bar-header.h-contato .title{
	color: white;
	font-size: 20px;
	text-align: center;
	margin-top: 1%;
}

.background-default .list-contato .item{
	text-align: center;
}

.background-default .list-contato-suporte .item{
	text-align: center;
}

.background-default .list-contato .item.item-body{
	text-align: justify;
}

.background-default .list-contato-suporte .item.item-body{
	text-align: justify;
}

.background-default .dados{
	margin-top: 5%;
	text-align: center;
}

/*Presenca Config*/
.bar-presenca{
	background-color: #78141A;
}

.bar-presenca .title{
	color: white;
	font-size: 20px;
	margin-left: 5%;
	margin-top: 1%;
}

.button.icon.button-clear{
	color: white;
}

.background-default-presenca{
	/* margin-top: 10%; */
	padding: 10%;
	z-index: 10;
}

.background-default-presenca .buttonsInOut{
	z-index: 10;
	text-align: center;
}

.background-default-presenca .buttonReport{
	margin-top: 40%;
	text-align: center;
}

.background-default-presenca .list-contato.report{
	margin-top: 5%;
}

.background-default-presenca .list-contato.report{
	margin-top: 5%;
}

.background-default-presenca .list-contato.report .item.item-divider{
	color: white;
	background-color: #78141A;
}

.background-default-presenca .list-contato.report .item.item-body{
	color: #78141A;
}

.background-default-presenca .loading{
	text-align: center;
	width:100%;
	height:100%;
	position: absolute;
	z-index: 100;
	font-size: 3vh;
	color: #78141A;
	background-color: white;
	margin-top: 35%;
	opacity: 0.8;
	right: 0;
}

.background-default-presenca .buttonsInOut{
	z-index: 10;
	text-align: center;
}

.background-default-presenca .buttonsInOut .saida{
	margin-top: 25%;
}

.background-default-presenca .buttonsInOut button{
	line-height: 15vh !important;
}

.background-default-presenca p{
	text-align: center;
}

.background-default-presenca .sending{
	text-align: center;
	width:100%;
	height:100%;
	position: absolute;
	z-index: 100;
	font-size: 4vh;
	color: green;
	background-color: white;
	opacity: 0.8;
	right: 0;
}

.background-default-presenca .sending p{
	margin-top: 50%;
}

/*Sobre Config*/
.background-default-sobre{
	text-align: center;
	margin-top: 60%;
}

.background-default-sobre .desenvolvimento{
	text-align: center;
	margin-top: 40%;
	font-size: 20px;
	font-style: bold;
}

/*Check List Config*/
.background-checkList{
	margin-top: 10%;
	/*border-left: none;
	border-right: none;*/
}

.background-checkList .sending{
	text-align: center;
	width:100%;
	height:100%;
	position: absolute;
	z-index: 100;
	font-size: 4vh;
	color: green;
	background-color: white;
	opacity: 0.8;
	right: 0;
}

.background-checkList .sending p{
	margin-top: 60%;
}

.sending .iconSending{
	stroke: green;
	position: relative;
}

.background-checkList .question{
	margin-top: 10%;
	margin-left: 5%;
	margin-right: 5%;
	z-index: 10;
}

.background-checkList .question-title{
	text-align: center;
}

.background-checkList li{
	text-align: justify;
	border-left: none;
	border-right: none;
	border-top: none;
	/*width: 70%;*/
	height: 20%;
}

.background-checkList .checkTitle{
	margin-top: none;
	font-size: 20px;
	height: 10%;
}

.background-checkList button{
	margin-left: 15%;
	width: 70%;
}

/*CheckList config*/
.background-checkList .question{
	margin-top: 20%;
}

.background-checkList .question .question-title{
	width:90%;
	margin-left:5%;
	font-size:20px;
	line-height: 30px;
}

.background-checkList .question .question-subtitle{
	margin-left:20%;
	font-size:15px;
}

.background-checkList .question .question-body{
	width:75%;
	margin-left:10%;
}
.question-body .list .green{
	border-color: green;
	color: green;
}
.question-body .list .item {
	margin-top: 3px;
}

.question-body .list .red{
	border-color: red;
	color:red;
}
.question-body .list b{
	color:black;
	font-weight: normal;
}

.background-checkList .question-footer {
  	margin:0px;
  	padding:0px;
  	margin-top:10%;
}
.background-checkList .question-footer .button-bar button{
  	padding:0px;
  	margin:0px;
  	margin-left:5px;
}

/* marketing config*/
.background-default .item .link{
	color: blue;
	text-decoration: underline;
}

.background-routes .loading{
	text-align: center;
	width:100%;
	height:100%;
	position: absolute;
	z-index: 100;
	font-size: 4vh;
	color: #78141A;
	background-color: white;
	opacity: 0.8;
	margin-top: 60%;
}

/* PopUp Config */
.popup{
	box-shadow: 0px 0px 1em;
	-webkit-box-shadow: 0px 0px 1em;
	-moz-box-shadow: 0px 0px 1em; 
	border-radius: 30px;
}

.popup-buttons .button{
	border-radius: 5px;
}

.popup-buttons.row{
	border-radius: 5px;
}

/* Routes Config*/
.background-routes{
	padding: 4%;
	margin-top: 10%;
}

i.previous{
	z-index: 100;
	position: absolute;
	left: 15%;
}

i.next{
	z-index: 100;
	position: absolute;
	right: 15%;
}

.background-routes .list-contato{
	padding: 2%;
	text-align: center;
}

.background-routes .loading{
	text-align: center;
	width:100%;
	height:100%;
	position: absolute;
	z-index: 100;
	font-size: 4vh;
	color: #78141A;
	background-color: white;
	opacity: 0.8;
	margin-top: 60%;
}

/* Images Config */
.background-images{
	text-align: center;
}

.background-images .imagesButton button{
	width: 40%;
	margin-top: 5%;
}

.background-images .sendButton {
	text-align: center;
}

.background-images .sendButton button{
	width: 70%;
	margin-top: 5%;
}

.background-images .list-card .item{
	text-align: center;
	margin-top: 12%;
}

.background-images .list-card .item.item-image{
	width: 300px;
    height: 300px;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	position: relative;
}

.background-images .list-card .item.item-list-image{
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 150px;
	margin-top: 5%;
	margin: 2px;
}

.background-images .list-card .item.item-list-image.checked{
	box-shadow: 2px 2px 10px #C7250A;
}

/* resize images */
.background-images .list-card img {
    width: 100%;
    height: auto;
	display: block;
}

.background-images .sending{
	text-align: center;
	width:100%;
	height:100%;
	position: absolute;
	z-index: 100;
	font-size: 4vh;
	color: green;
	background-color: white;
	opacity: 0.8;
	right: 0;
}

.background-images .sending p{
	margin-top: 50%;
}

/* Materiais Config */
.background-default-materiais{
	text-align: center;
	margin-top: 10%;
	padding: 5%;
}

.background-default-materiais .body{
	margin-top: 5%;
}

.background-default-materiais .list{
	text-align: left;
}

.background-default-materiais .buttons{
	margin-top: 5%;
}

.background-default-materiais .body textarea{
	height: 70px;
}

.background-default-materiais .sending{
	text-align: center;
	width:100%;
	height:100%;
	position: absolute;
	z-index: 100;
	font-size: 4vh;
	color: green;
	background-color: white;
	opacity: 0.8;
	right: 0;
}

.background-default-materiais .sending p{
	margin-top: 90%;
}

/* Versao Config*/
.background-default-versao{
	text-align: center;
	margin-top: 20%;
	padding: 5%;	
}

.background-default-versao .header{
	margin-top: 3%;
	margin-left: 7%;
	margin-right: 7%;
	box-shadow: 0px 0px 0.5em;
	-webkit-box-shadow: 0px 0px 0.5em;
	-moz-box-shadow: 0px 0px 0.5em; 
	border-radius: 10px;
}

.background-default-versao .desenvolvimento{
	text-align: center;
	margin-top: 20%;
	font-size: 20px;
	font-style: bold;
}

.background-default-versao .footer{
	text-align: center;
	margin-top: 15%;
	font-size: 20px;
	font-style: bold;
}
